body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #463265;
  text-decoration: none;
}

header {
  background-color:#563d7c;
  color:white;
  text-align:center;
  padding: 0 0 5px;
}
nav {
  width: 100%;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #563d7c;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  text-align: left;
}
ul{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
nav > ul > li{
  float:left;
}
nav > ul > li > a {
  color: #cdbfe3;
  line-height: 20px;
  display: block;
  padding: 10px 15px;
}
nav > ul > li > a:hover {
  color: #fff;
  background-color: #463265;
}

.active > a,  .active > a:hover {
  color: #fff;
  background-color: #463265;
}

section {
  float:left;
  padding:10px;
  width: 100%;
}

.grid{
  width:250px;

}
.row{
  width: 100%;
}
.col{
  width: 50%;
  float: left;
}

.col-1of2{
  text-align: right;
}



footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}